@layer root {
   :root {
      --rpc_dark: #131314;
      --rpc_mid_dark: #1b1b1b;
      --rpc_light_dark: hsl(210, 64%, 40%);
      --rpc_dim_accent: #33326a;
      --rpc_light_accent: #beb2fc;
      --rpc_light: #e3e3e3;
   }
}

body {
   background-color: var(--rpc_dark);
}

#main-title {
   margin: 2% 0 1%;
   padding: 1%;
   text-align: center;
   font-family: "Jersey 25", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 70px;
   color: var(--rpc_light);
}

#wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%vh;
}

#flex-container {
   display: flex;
   flex-wrap: wrap;
   width: 500px;
   height: 500px;
   cursor: url("/assets/brush.png") 0 0, auto;
}

.pixel {
   box-sizing: border-box;
   border: solid 1px var(--rpc_dim_accent);
   /*width: 6.25%;
   height: 6.25%;*/
   flex-shrink: 0;
}

/*
______________
++++++++++++++
Dialog Style
++++++++++++++
--------------
*/

.draw-mode {
   background-color: var(--rpc_light_accent);
}

.erase-mode {
   background-color: var(--rpc_dark);
}

/*
______________
++++++++++++++
Dialog Style
++++++++++++++
--------------
*/

#settings-btn {
   display: block;
   margin: 0 auto 2%;
   padding: 0.5% 1%;
   font-family: "Micro 5";
   font-size: 30px;
   border-radius: 10px;
   background-color: var(--rpc_light);
}

dialog {
   background-color: var(--rpc_light);
   font-family: "Micro 5";
   text-align: center;
   padding: 1%;
   border-radius: 5px;
}

dialog h2 {
   font-size: 50px;
}

dialog input {
   margin: 0 auto;
   padding: 1% 0;
   background-color: var(--rpc_dim_accent);
   border-radius: 5px;
}

dialog button {
   margin-top: 2%;
   background-color: var(--rpc_light);
   font-family: "Jersey 25", sans-serif;
   text-align: center;
   border-radius: 5px;
   font-size: 20px;
}

.card-selector {
   display: grid;
   grid-template-columns: 1fr, 1f, 1fr;
   gap: 10px;
   margin: 20px 0;
}

.res-card input[type="radio"] {
   display: none;
}

.card-content {
   display: flex;
   flex-direction: column;
   align-self: center;
   padding: 15px;
   border: 2px solid var(--rpc_light);
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.2s ease;
}

.title {
   display: block;
   font-weight: bold;
   font-size: 30px;
}

.desc {
   font-size: 0.8rem;
   color: #666;
}

.res-card input[type="radio"]:checked + .card-content {
   border-color: var(--rpc_dim_accent);
   background-color: #f0f7ff;
   color: var(--rpc_dim_accent);
}

.card-content:hover {
   border-color: var(--rpc_light_accent);
}

/*______________
++++++++++++++
Dialog Style
++++++++++++++
--------------
*/

#tool-bar {
   background-color: var(--rpc_light);
   width: 500px;
   margin: 2% auto;
   border-radius: 5px;
   cursor: url("/assets/pointer.png") 0 0, auto;
   padding-bottom: 0.5%;
}

#tool-box-title {
   font-family: "Jersey 25", sans-serif;
   text-align: center;
   padding-top: 10px;
   color: var(--rpc_dim_accent);
}

#tool-box {
   margin: 0% auto;
   width: 70%;
   display: flex;
   justify-content: center;
   gap: 20%;
}

.tool-pic {
   display: block;
   margin: 0 auto 3%;
   transition: all 0.5s ease-out;
}

.tool-pic:hover {
   transform: scale(1.2);
}

.tool-desc {
   font-family: "Jersey 25", sans-serif;
   color: #33326a;
}
